<!DOCTYPE html>
<html lang=zh-en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>java_ssm</title>
    <link rel="stylesheet" href="./css/global.css">
    <script src="./js/vue@3.min.js"></script>
    <!-- Vue3的包必须在Element-Plus上面否则会报错 -->
    <script src="./js/axios.min.js"></script>
    <link rel="stylesheet" href="./css/element-plus.css">
    <script src="./js/element-plus.index.js"></script>
    <script src="./js/element-plus-icon.js"></script>
</head>

<body>
    <div id=app>
        <el-row type="flex" justify="space-between" style="margin-bottom: 10px;">
            <el-col :span="6">
                <el-button @click="openDialog" size="large" type="primary">新建
                </el-button>
                <el-button @click="getData" size="large" type="success">刷新</el-button>
            </el-col>
            <el-col :span="6">
                <el-input placeholder="请输入标题搜索" v-model="keyword" style="width: 300px;" clearable>
                </el-input>
            </el-col>
        </el-row>
        <el-table :data="data" border style="width: 100%">
            <el-table-column prop="title" label="标题" width="300">
            </el-table-column>
            <el-table-column prop="image" label="图片" width="280">
                <template #default="scope">
                    <el-image style="width: 100px; height: 100px" :src="scope.row.image"
                        :preview-src-list="scope.image">
                    </el-image>
                </template>
            </el-table-column>
            <el-table-column prop="url" label="链接" width="300">
            </el-table-column>
            <el-table-column prop="create_time" label="时间" width="300">
            </el-table-column>
            <el-table-column label="操作" width="300">
                <template #default="scope">
                    <el-button @click="the(scope.row.id)" size="large" type="primary">编辑</el-button>
                    <el-button @click="dele(scope.row.id)" size="large" type="danger">删除</el-button>
                </template>
            </el-table-column>
        </el-table>


        <el-dialog title="表单" v-model="dialogVisible" width="50%" :before-close="handleClose">
            <el-form label-width="80px" :model="form">
                <el-form-item label="新闻标题">
                    <el-input v-model="form.title" placeholder="请输入新闻标题"></el-input>
                </el-form-item>
                <el-form-item label="新闻封面">
                    <el-upload class="upload-demo" :action="apiurl+'/upload'" :on-success="onSuccess" multiple :limit="3" :file-list="fileList">
                        <el-button type="primary">上传新闻封面</el-button>
                    </el-upload>
                </el-form-item>
                <el-form-item label="来源链接">
                    <el-input v-model="form.url" placeholder="请输入新闻来源链接"></el-input>
                </el-form-item>
                <el-form-item label="新闻简介">
                    <el-input type="textarea" resize="none" maxlength="200" show-word-limit :autosize="{ minRows: 4, maxRows: 4}" placeholder="请输入新闻简介" v-model="form.desct">
                    </el-input>
                </el-form-item>
                <el-form-item label="新闻详情">
                    <el-input type="textarea" resize="none" :autosize="{ minRows: 20, maxRows: 50}" placeholder="请输入新闻详情" v-model="form.content">
                    </el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="submit">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</body>
<script>
    const {
        onMounted,
        reactive,
        toRefs
    } = Vue;
    const {
        ElMessage
    } = ElementPlus
    let content = ({

        setup() {
            const state = reactive({
                apiurl: 'http://localhost',
                dialogVisible: false,
                keyword: '',
                form: {},
                fileList: [],
                data: [],
                isFlg: true,
            })
            onMounted(() => {
                    getData()
                })
                // 数据列表
            function getData() {
                axios.get(`${state.apiurl}/news/list`).then(res => {
                    state.data = res.data
                }).catch(err => {
                    console.error(err);
                })
            }
            // 打开模态层
            const openDialog = () => {
                    state.dialogVisible = true
                    state.isFlg = true
                    state.form = {}
                }
                // 关闭模态层
            const handleClose = () => {
                    state.dialogVisible = false
                }
                // 提交
            const submit = () => {
                if (state.isFlg) {
                    add()
                } else {
                    edit()
                }
            }
            const onSuccess = (e) => {
                    console.log(e);
                }
                // 新建提交
            function add() {
                axios.post(`${state.apiurl}/news/set`, state.form).then(res => {
                    ElMessage({
                        message: '添加成功',
                        type: 'success'
                    });
                    state.dialogVisible = false
                    getData()
                }).catch(err => {
                    console.error(err);
                    ElMessage({
                        message: '添加失败',
                        type: 'error'
                    });
                })
            }
            // 编辑提交
            function edit() {
                axios.post(`${state.apiurl}/news/edit`, state.form).then(res => {
                    ElMessage({
                        message: '编辑成功',
                        type: 'success'
                    });
                    state.dialogVisible = false
                    getData()
                }).catch(err => {

                    console.error(err);
                    ElMessage({
                        message: '编辑失败',
                        type: 'error'
                    });
                })
            }
            // 指定
            const the = (id) => {
                    state.isFlg = false
                    state.dialogVisible = true
                    axios.get(`${state.apiurl}/news/the`, {
                        params: {
                            id
                        }
                    }).then(res => {
                        state.form = res.data
                    }).catch(err => {
                        ElMessage({
                            message: '获取失败',
                            type: 'error'
                        });
                    })
                }
                // 删除
            const dele = (id) => {
                axios.get(`${state.apiurl}/news/del`, {
                    params: {
                        id
                    }
                }).then(res => {
                    ElMessage({
                        message: '删除成功',
                        type: 'success'
                    });
                    getData()
                }).catch(err => {
                    ElMessage({
                        message: '删除失败',
                        type: 'error'
                    });
                })
            }

            return {
                ...toRefs(state),
                openDialog,
                handleClose,
                getData,
                submit,
                onSuccess,
                the,
                dele
            }
        }
    })
    let app = Vue.createApp(content)

    app.use(ElementPlus);
    app.mount("#app")
</script>

</html>