* {
    margin: 0;
    padding: 0;
}

#app {
    width: 1506px;
    margin: 0 auto;
    margin-top: 60px;
}
.el-upload {
    border: 1px dashed #ccc;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .3s linear;
}

.avatar-uploader .el-upload:hover {
    border-color: #eee;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}